<br><br>
<div class="container" id="profile_info">
  <div class="col-md-12 text-center">

    <div>
    <%= image_tag @user.avatar.url(:medium) %>
     	<h2 class="title accent-text"><%= @user.first_name %> <%= @user.last_name %></h2>
    </div>
    <div>
      <% if current_user && current_user != @user %>
        <h4><%= mail_to @user.email, "Email me", subject: "Someone from Sharetastic wants to connect with you!" %></h4>
      <% end %>
      <h4><span class="context-text">Current City - </span> <span class="accent-text"><%= @user.current_city %></span></h4>
      <h4><span class="context-text">About me</span></h4>
      <div class= 'accent-text' id="bio"><%= @user.bio %></div>
      <br>
    </div>
    <% if current_user == @user %>
      	<div class="text-center">
          <div class="btn-prof"><%= button_to "Edit Profile", edit_user_path(@user.id), method: :get, class: "btn btn-accent" %></div>
          <div class="btn-prof"><%= button_to "Remove Profile", @user, method: :delete, data: {confirm: "Are you sure you want to delete your profile?"}, class: "btn btn-delete" %></div>
      	</div>
    <% end %> 
    <br>
  </div>
</div>

  <hr class="container">

  <div class="col-md-12 container">
    <div id="skill-title" class="text-center" > Skills </div>
    <br>

    <% if current_user == @user %>
      <div class = "button text-center">
        <%= button_to "Add Skill", display_skills_path, method: :get, class: 'btn btn-accent center-block' %>
        <br>
      </div>
    <% end %> 

    <div class="btn-group text-center center-block">
      <% @user.skills.each do |skill| %>
        <div class="col-sm-4 skill-btn text-center">
        	<h3 class="accent-text"><%= skill.name %></h3>
        	<% skill.user_skills.each do |target| %>
          	<% if current_user == @user && target.user_id == @user.id %>
            
              	<%= button_to "Delete", user_skills_path(target.id), method: :delete, data: {confirm: "Are you sure you want to delete this skill?"}, class: "btn btn-delete" %>

          	<% end %>
        	<% end %>
        </div>
      <% end %>
    </div>
  </div>

<br>

<hr class="container">

<div class="reviews">
  <h2 class="">Reviews</h2>
  <% @user.reviews.each do |review| %>
    <h4>
    <span class="review-context">
      <span class="context-text">Reviewer: </span>
      <%= review.reviewer %>
    </span>
    <br>
    <span class="review-context">
      <span class="context-text">Skill: </span>
      <%= review.rskill %><br>
    </span>
    <span class="context-text">Review: </span>
    <span class="review-context">
      <%= review.body %><br>
    </span>
    </h4>
  <% end %>
</div>

<hr class="container">

<div class="review-form text-center">
  <% if current_user && current_user != @user %>
    <h3>Add a review:</h3>
    <%= form_for([@user, @user.reviews.build]) do |f| %>
        <%= f.hidden_field :reviewer, :value => current_user[:first_name] %><br>
      <div class="context-text">
        <%= f.label :rskill, "Skill being reviewed" %><br>
        <%= f.text_field :rskill %>
      </div>
      <div class="context-text">
       <%= f.label :body, "What do you think?" %><br>
       <%= f.text_area :body, size: "40x8" %>
      </div>
      <p>
        <%= f.submit %>
      </p>
    <% end %>
  <% end %>
</div>

<br>
<br>





























